:root {
    --color-yel: #dcb31a;
    --color-dark-light: #2d3548;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("./assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
        url("./assets/fonts/SF-Pro-Display-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "SF-Pro-Display";
    src: url("./assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2"),
        url("./assets/fonts/SF-Pro-Display-Semibold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("./assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: "SF-Pro-Display";
    src: url("./assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
}

.l-wrapper {
    max-width: 1440px;
    /* padding: 0 40px; */
    margin: 0 auto;
}

.l-section {
    margin-top: 100px;
}

.l-banner-animate {
    max-width: 414px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='320' height='95' viewBox='0 0 320 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M320 95H0V0H320V95Z' fill='url(%23paint0_linear_325_452)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_325_452' x1='7.24739' y1='95' x2='301.603' y2='95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F6F6F8'/%3E%3Cstop offset='1' stop-color='%23F1F0F5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    height: 95px;
    background-size: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.l-banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transform: translateX(-150%);
    transition: transform 0.3s ease-out;
    white-space: nowrap;
}

.l-banner__title .first {
    color: var(--color-yel);
    font-size: 21px;
    font-weight: 800;
    line-height: normal;
}
.l-banner__title .last {
    color: var(--color-dark-light);
    font-size: 19px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.38px;
    margin-top: -5px;
}

.l-banner__first-img {
    position: absolute;
    right: 40px;
    max-width: 132px;
    transform: translateX(150%);
    transition: transform 0.4s ease-out;
}

.l-bolt {
    right: 103px;
    top: -12%;
}

.l-banner__js {
    display: flex;
    opacity: 0;
    position: absolute;
    padding: 0 40px;
    height: 0;
    width: 0;
    overflow: hidden;
}
.l-banner__js.active {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
}

.l-banner__js.active.out-active {
    animation: fadeIn 0.3s ease-in-out;
    opacity: 0;
}
.l-banner_second .l-banner__title {
    transform: translateX(-150%);
}

.l-banner__js.active .l-banner__first-img,
.l-banner__js.active .l-banner__title {
    transform: translateX(0);
}
.l-banner__js.active .l-bolt-block {
    transform: translateY(0);
}
/* .l-banner__js.active .l-teeth__img {
    right: 20px;
    top: 4px;
} */

.add-teeth {
    right: 20px !important;
    top: 4px !important;
    opacity: 1 !important;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.l-banner_second {
    justify-content: space-between;
    padding-right: 72px;
}

.l-bolt-block {
    position: relative;

    transform: translateY(150%);
    transition: transform 0.4s ease-out;
}

.l-bolt__teeth {
    position: relative;
    right: 40px;
    max-width: 102px;
}
.l-bolt__img {
    position: absolute;
    max-width: 120px;
    right: -10px;
    top: -13px;
}
.l-teeth__img {
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    top: -100px;
}

.l-bolt__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 19px;
}
.l-bolt__text span:first-child {
    font-family: SF Pro Display, sans-serif;
    color: #464646;
    font-size: 10px;
    font-weight: 400;
    line-height: 106.836%; /* 10.684px */
    letter-spacing: -0.1px;
    text-decoration: line-through;
}
.l-bolt__text span:last-child {
    font-family: SF Pro Display, sans-serif;
    background-color: #fbe135;
    color: var(--color-dark-light);
    font-size: 16px;
    font-weight: 600;
    line-height: 106.836%; /* 17.094px */
    letter-spacing: -0.16px;
    padding-right: 4px;
    padding-left: 7px;
}

.l-sale {
    opacity: 0;
    left: -1000px;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.72225 32.2777C7.24817 30.8037 8.22587 27.7089 7.47558 25.8955C6.69779 24.0157 3.84375 22.5027 3.84375 20.4999C3.84375 18.4972 6.69781 16.9843 7.47559 15.1045C8.22588 13.2911 7.24818 10.1963 8.72225 8.72225C10.1963 7.24817 13.2911 8.22587 15.1045 7.47558C16.9843 6.69779 18.4973 3.84375 20.5001 3.84375C22.5028 3.84375 24.0157 6.69781 25.8955 7.47559C27.7089 8.22588 30.8037 7.24818 32.2777 8.72225C33.7518 10.1963 32.7741 13.2911 33.5244 15.1045C34.3022 16.9843 37.1562 18.4973 37.1562 20.5001C37.1562 22.5028 34.3022 24.0157 33.5244 25.8955C32.7741 27.7089 33.7518 30.8037 32.2777 32.2777C30.8037 33.7518 27.7089 32.7741 25.8955 33.5244C24.0157 34.3022 22.5027 37.1562 20.4999 37.1562C18.4972 37.1562 16.9843 34.3022 15.1045 33.5244C13.2911 32.7741 10.1963 33.7518 8.72225 32.2777Z' fill='%23FF1500'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all .5s ease;
}

.l-sale.active-sale {
    opacity: 1;
    top: 30px;
    left: -23px;
}

.l-sale__text {
    color: #fff;
    font-family: SF Pro Display, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.out-active-teeth .l-banner__title {
    transform: translateX(-200%) !important;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    .l-banner__first-img {
        right: 20px;
    }
}

@media screen and (max-width: 360px) {
    .l-banner__js {
        padding: 0 30px;
    }
    .l-banner__first-img {
        right: 0;
    }
}
@media screen and (max-width: 340px) {
    .l-banner__js {
        padding: 0 10px;
    }
}
